@import url(./__button-edit/button-edit.css);
@import url(./__job/user-info__job.css);
@import url(./__name/user-info__name.css);

.user-info__data {
  max-width: 364px;
  margin-left: 36px;
}

@media screen and (max-width: 980px) {
  .user-info__data {
    margin: 20px 0;
    text-align: center;
  }
}
