@import url(./__content/profile-photo__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/profile-photo__title.css);
@import url(./__form/profile-photo__form.css);
@import url(./__input/profile-photo__input.css);
@import url(./__button/profile-photo__button.css);
@import url(./_is-opened/popup_is-opened.css);

.profile-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .error__photo-url-input{
    margin-top: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    height: 16px;
    color: #FF0000;
  }
  