.profile-photo__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 33px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  opacity: 0.2;
}

.profile-photo__button_active{
  background: #000000;
  opacity: 1;
  color: #FFFFFF;
}